﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<label for="executorName">Введите исполнителя:</label>
<input type="text" placeholder="Название групы" id="executorName" />
<input type="button" value="Найти" data-bind="click: searchAlbums" id="searchButton" />

<table class="table table-striped">
    <thead>
        <tr data-bind="visible: showHeader">
            <th>Исполнитель</th>
            <th>Название альбома</th>
            <th>Композиция</th>
            <th>Количество треков</th>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: albums -->
        <tr>
            <td data-bind="text: ArtistName"></td>
            <td data-bind="text: AlbumName"></td>
            <td data-bind="text: TrackName"></td>
            <td data-bind="text: TrackCount"></td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>

@section scripts{
    <script src="~/Content/scripts/knockout-3.4.2.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            ko.applyBindings(new Albums());
        });

        var allAlbums = [];
        var updateAlbums;

        function Album(artistName, albumName, trackName, trackCount) {
            var self = this;

            this.ArtistName = artistName;
            this.AlbumName = albumName;
            this.TrackName = trackName;
            this.TrackCount = trackCount;
        }

        function Albums() {
            var self = this;

            // Editable catalog data - would come from the server
            self.albums = ko.observableArray(allAlbums);
            self.showHeader = ko.observable(self.albums().length > 0 ? true : false);

            self.searchAlbums = function(){
                loadData($("#executorName").val());
            };

            self.updateData = function () {
                //console.log("Update");
                self.albums(allAlbums);
                self.showHeader(self.albums().length > 0 ? true : false);
            };

            updateAlbums = self.updateData;
        }

        function loadData(name) {

            var url = '@Url.Action("Get", "SearchComposition", new { area = "WebApi" })';
            var parameters = {};
            parameters.executor = name;

            $.get(url, parameters, function (jsData) {
                if (jsData.length != undefined) {
                    //console.log(jsData);

                    fillAllAlbums(allAlbums, jsData);

                    updateAlbums();
                }
            });
        }

        function fillAllAlbums(parent, array) {
            parent.length = 0;
            for (item in array) {
                var _item = new Album(
                    array[item].artistName,
                    array[item].albumName == array[item].trackName ? "" : array[item].albumName,
                    array[item].trackName == array[item].albumName ? array[item].trackName : "",
                    array[item].trackCount
                );
                parent.push(_item);
            }
        }

    </script>
}